div{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid green;
}
/* exemplo com border-box */
.com-border{
    background-color: aqua;
    box-sizing: border-box;
}
/* exemplo sem border box */
.sem-border{
    background-color: indigo;
}
