*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 24px;
}

ul{
    bottom: 50px;
}

.em-bloco li{
    background-color: yellowgreen;
    margin-bottom: 10px;
    width: 100px;
}

.em-linha li{
    display: inline;
    background-color: yellowgreen;
}

.em-linha-e-bloco li{
    background-color: yellowgreen;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.esconder li{
    background-color: yellowgreen;
    display: none;
    width: 100px;
    height: 100px;
}